#btn {
    background-color: black; /* Ensure background is set to black */
    color: white;            /* Set font color to white */
    border-radius: 5px;      /* Initial border radius */
    border: none;            /* No border */
}

#btn:hover{
    background-color: yellow; /* Hover background color to yellow */
    color: black;             /* Hover font color to black */
    border-radius: 30px;      /* Hover border radius */
}
